.landing{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 95vh;
    font-family: 'Crimson Pro', serif;
    background-color: #F9F9F9;
    color:#333333;
}
.landing div{
    padding: 1% 3%;
    text-align: center;
}
/* .landing div.container-1{

}
.landing div.container-2{

} */

.landing div.container-2 button{
    margin-top: 10%;
}