header{
    width: 100%;
    height:auto;
    padding: 2% 5%;
    display: flex;
    box-sizing: border-box;
    color: #05445E;
    position: relative;
    align-items: stretch;
  }

header div#logo{
  align-self: flex-start;
}

header div#menu{
  align-self: flex-end;
  flex: 1;
}

header div#menu img{
  width: 24px;
  height: auto;
  float: right;
}

header h1{
    font-size: 1.3em;
    margin: 0px;
    padding: 3px;
}


  
  